In [2]:
import requests
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
html_data  = requests.get(url).text

In [4]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_data, 'html.parser')

What is the content of the title attribute?
'Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance'

In [6]:
#What is the content of the title attribute?
title = soup.title.string
title

'Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance'

In [11]:
import pandas as pd
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    amazon_data = pd.concat([amazon_data, pd.DataFrame({"Date": [date], "Open": [Open], "High": [high], "Low": [low], "Close": [close], "Volume": [volume]})])

In [13]:
amazon_data	= amazon_data.reset_index(drop=True)
amazon_data.head()

           Date      Open      High       Low     Close       Volume
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,528,900
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,556,200
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,226,100
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,899,300

What are the names of the columns in the data frame?
Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [15]:
amazon_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

What is the Open of the last row of the amazon_data data frame?
656.29

In [17]:
open = amazon_data.iloc[-1]['Open']
open

'656.29'